*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    
}

/* Estilo para el encabezado (header) */
header {
    background-color: #79d4dc;
    color: #fff;
    text-align: left;
    padding: 8px 0;
    margin:0px; /* Corrección en la propiedad margin */
    width: 500px;
    font-family: Arial;
    padding: 0;
    margin: 0;
    height: 60px;
}

/* Estilo para los enlaces de navegación (nav-link) */
a{
    color: #ffffff; /* Color de texto deseado */
    text-decoration: none;
    font-size: 15px; /* Reduzco el tamaño del texto del menú */
    margin-right: 20px;
}
/* Estilos generales para restablecer los márgenes y rellenos predeterminados */
body, ul, ol {
    margin: 0;
    padding: 0;
}

/* Estilos para listas no ordenadas y ordenadas */
ul, ol {
    list-style: none;
}

/*----------------------------------------*/
/*----------BARRA DE NAVEGACION-----------*/

.menu-horizontal {
    list-style: none;
    padding: 0;
    display: flex; /* Hace que los elementos se muestren en una fila horizontal */
    align-items: center;
    background-color: #0f7d8a;
    position: fixed; /* Barra de navegación fija en la parte superior */
    top: 0; /* Barra de navegación en la parte superior de la página */
    width: 100%; /* Ancho completo de la página */
    z-index: 888; /* Asegura que la barra de navegación esté por encima de otros elementos */
    height: 60px;
}

.menu-horizontal .nav-link {
    margin-right: 15px; /* Espacio a la derecha de cada elemento del menú */
}

.menu-horizontal .nav-link a {
    font-size: 15px; /* Tamaño de fuente deseado */
}

.menu-horizontal .nav-link a:hover {
    font-size: 100%;
}
/* Estilos para el menú horizontal */
.menu-horizontal li a {
    background-color:#0f7d8a /* Color de fondo deseado */;
    color:rgb(255, 255, 255) /* Color del texto deseado */;
    text-decoration: none;
    padding: 5px 10px; /* Espaciado superior e inferior de 10px, espaciado izquierdo y derecho de 15px */
    display: block;
    font-size: 20px;
}

/* Estilos para el enlace cuando se coloca el cursor encima (hover) */
.menu-horizontal a:hover {
    background-color:#1a93a0 /* Color de fondo deseado en hover */;
}


/* Estilos para los elementos de nivel superior del menú horizontal */
.menu-horizontal > li {
    float: left;
}

/* Estilos para ocultar el submenú */
.menu-horizontal li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

/* Estilos para mostrar el submenú cuando se hace hover en el elemento padre */
.menu-horizontal li:hover > ul {
    display: block;
}

/* Estilo para el encabezado cuando está en versión móvil*/
@media (max-width: 768px) {
    header {
        padding: 10px; /* Reducir el espacio de relleno en dispositivos móviles */
    }
    .nav-link {
        margin: 0 10px; /* Espacio entre enlaces en dispositivos móviles */
    }
}
/*----------------------------------------*/
/*----------------INICIO--------------------*/

.parte-inicio {
    position: relative;
    width: 100%;
    height: 100vh;
}

.principal-inicio {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen de fondo para que cubra el contenedor */
    top: 0;
    left: 0;
    z-index: -1; /* Coloca la imagen de fondo detrás de otros elementos */
}

.logo1 {
    width: 40%; /* Personaliza el tamaño de tu logotipo */
    position: absolute;
    top: 20%; /* Ajusta la posición superior (margen) según tus necesidades */
    right: 5%; /* Ajusta la posición derecha (margen) según tus necesidades */
    z-index: 1; /* Coloca el logotipo sobre la imagen de fondo */
}
/*----------------------------------------*/
/*----------------BOX---------------------*/

.boxbody{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
    font-family: sans-serif;  
}

.container-card{
    width: 100%;
    display: flex;
    max-width: 1100px;
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan cuando no haya suficiente espacio horizontal */
    justify-content: space-around; /* Ajusta el espacio entre las tarjetas */
}

.card{
    width: calc(33.33% - 20px);
    margin: 10px;
    border-radius: 6px;
    overflow: hidden;
    background: #ffffff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

.card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.card img{
    width: 100%;
    height: 100%;
}

.card .contenido{
    padding: 15px;
    text-align: center;
}
.card .contenido p{
    line-height: 1.5;
    color: #070707;
}
.card .contenido h3{
   font-weight: 600;
   margin-bottom: 15px;
}
.card .contenido a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color:#0f7d8a;
    border: 1.5px solid #0f7d8a;
    border-radius: 4px;
    transition: all 400ms ease;
}
.card .contenido a:hover{
    background: #0f7d8a;
    color:#fff;
}

/*..............................*/
/*..........NOSOTROS...........*/
.body-nos {
    margin: 0;
    flex-wrap: wrap;
    font-family: 'Signika', sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}
.nosotros {
	justify-content: space-between;
	display: flex;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	max-width: 1500px;
	background-color: #fff;
	margin: 0 auto; 
    overflow: hidden; 
}
/* Estilo para la imagen*/
.nosotros-imagen {
	flex: 1;
	display: flex;
	align-items: center;
	padding: 10px;
	max-width: 40%;
}
  
.nosotros-imagen img {
	width: 100%;
	height: auto;
}
/* Estilo para el contenido de la tarjeta como texto*/
.nosotros-content {
	flex: 2;
	padding: 40px;
	max-width: 60%;
	margin-top: 10px;
}
  
.nosotros-content h2 {
	color: #104c8d;
	font-size: 35px;
	text-align: center;
	margin-bottom: 10px;
}

.nosotros-content p {
	color: rgba(0, 0, 0, 0.5);
	font-size: 20px;
	text-align: justify;
	margin-top: 20px;
	
}
/*----------------------------------------*/
/*---------------FOOTER-------------------*/
.pie-de-pagina{
    width: 100%;
    background-color: #0f7d8a;
    flex-direction: column;
    padding: 30px 0;
    text-align: center;
    
}

.pie-de-pagina .colum{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 50px;
}

.pie-de-pagina .colum .colum1 figure{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
}                                   ;

.pie-de-pagina .colum .colum1 figure img{
    width: 200px;
}
.pie-de-pagina .colum .colum2 h2{
    line-height: 2.0;
}
.pie-de-pagina .colum .colum3{
    text-align: left;
    font-size: 18px;
    font-family: sans-serif;
    line-height: 1.5;
}
.red-social{
    margin-bottom: 20px;
    margin-top:35px;
}
.red-social a{
    color: #fff;
    font-size: 34px;
    text-decoration: none;
    flex-direction: column;
    margin: 0px 10px;
}



/*..............................*/
/*..........FOOTER...........*/
footer {
    background-color: #104c8d;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

